@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?qatdle');
    src:  url('../fonts/icomoon.eot?qatdle#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?qatdle') format('truetype'),
      url('../fonts/icomoon.woff?qatdle') format('woff'),
      url('../fonts/icomoon.svg?qatdle#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .icon-uniF153:before {
    content: "\f153";
  }
  .icon-home:before {
    content: "\f015";
  }
  .icon-leaf:before {
    content: "\f06c";
  }
  .icon-github:before {
    content: "\f09b";
  }
  .icon-briefcase:before {
    content: "\f0b1";
  }
  .icon-flask:before {
    content: "\f0c3";
  }
  .icon-envelope:before {
    content: "\f0e0";
  }
  .icon-linkedin:before {
    content: "\f0e1";
  }
  .icon-angle-down:before {
    content: "\f107";
  }
  .icon-info:before {
    content: "\f129";
  }
  .icon-bank:before {
    content: "\f19c";
  }
  .icon-institution:before {
    content: "\f19c";
  }
  .icon-university:before {
    content: "\f19c";
  }
  .icon-graduation-cap:before {
    content: "\f19d";
  }
  .icon-mortar-board:before {
    content: "\f19d";
  }
  .icon-file-text2:before {
    content: "\e900";
  }